[user]
	name = Tim Whitbeck
	email = twhitbeck@gmail.com
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	f = fetch
	g = grep
	l = log
	m = merge
	co = checkout
	p = pull
	r = remote
	s = status
	w = worktree
	cl = clone
	sm = submodule
	t = tag
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[core]
	pager = delta
	autocrlf = input
[color]
	ui = true
[diff]
	colorMoved = default
[push]
	followTags = true
[merge]
	tool = smerge
	conflictstyle = diff3
[delta]
	syntax-theme = Monokai Extended
	navigate = true
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[fetch]
	prune = true
